body{
  background: #999;
}

.app-content {
  width: 600px;
  margin: auto;
  padding: 40px;
  align-content: center;
  text-align: center;
  display: flex;
}

.control-row {
  margin-bottom: 8px;
}

@media (max-width: 650px) {
  .app-content {
    margin: 20px 20px 0;
    width: auto;
  }
}

.row{
  align-self: center;
  padding-bottom: 4px;
}

#timeDisplay{
  background: #333;
  color: #999;
  margin: auto;
  width: 150px;
  border-radius: 25px;
  margin-bottom: 8px;
}

h2{
  margin: auto;
}

.btn{
  margin: auto;
}